body {
	position: relative;
	height: 100%;
}

.map {
	position: fixed;
	height: 100%;
	width: 50%;
	top:0;
	left:0;
	bottom:0;
}

.pics {
	position: relative;
	left:50%;
	width: 50%;
	text-align: center;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

@media(orientation: portrait) { 
	.pics {
		left:0;
		width: 100%;
		margin-top: 50%;
	}

	.map {
		position: fixed;
		height: 50%;
		width: 100%;
		top:0;
		left:0;
		right:0;
		background: white;
		box-shadow: 0 0 12px 0 rgba(0,0,0,.6);

	}

}

.picture-view {
	max-width: 420px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	margin: 50px auto 0 auto;
	padding: 10px;
	background-color: #FFF;
	transition: all 1s ease;
}

.picture-view.being-viewed {
	/*margin: 200px auto 0 auto;*/
}


.picture-view img {
	max-width:100%;
}

.picture-view form {
	margin-top: 10px;
	position: relative;
}

.picture-view form input[type=text] {
	font-size: 25px;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	position: relative;
	width:100%;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: none;
}


.picture-view form input[disabled]{
	cursor: default;
}

.picture-view form button {
	width: 70px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}


.borders {
	fill: #EEE;
	stroke: #DDD;
	stroke-linejoin: round;
}

.city {
	fill: #090;
	stroke-linejoin: round;
}

.current-place {
	fill: #0C0;
	stroke-linejoin: round;
	box-shadow: 0 0 40px 40px  black;
}

.travel-route {
	fill: none;
	stroke: #060;
	stroke-linejoin: round;
	stroke-width: 3px;
}