body {
	position: relative;
	height: 100%
}

.map {
	position: fixed;
	height: 100%;
	width: 50%;
	top:0;
	left:0;
	bottom:0;
}

.pics {
	position: relative;
	left:50%;
	width: 50%;
	text-align: center
}

.pics img {
	margin: 50px auto 0 auto
}

.pics form {
	max-width: 400px;
	margin: auto;
	padding: 10px;
}

.pics form input {
	width: 200px;
	font-size: 25px;
	padding: 0;
	margin: 0;
	background: none;
	border: none;

}


.pics form input[disabled]{
	background: red;
	cursor: default;
}


.pics form button {
	width: 70px;
}


.borders {
	fill: #EEE;
	stroke: #DDD;
	stroke-linejoin: round;
}

.city {
	fill: #090;
	stroke-linejoin: round;
}

.current-place {
	fill: #0C0;
	stroke-linejoin: round;
	box-shadow: 0 0 40px 40px  black;
}

.travel-route {
	fill: none;
	stroke: #060;
	stroke-linejoin: round;
	stroke-width: 3px;
}