body {
	position: relative;
	height: 100%
}

.map {
	position: fixed;
	height: 100%;
	width: 50%;
	top:0;
	left:0;
	bottom:0;
}

.pics {
	position: relative;
	left:50%;
	width: 50%;
}

.states {
	fill: #EEE;
	stroke: #DDD;
	stroke-linejoin: round;
}

.city {
	fill: #F0F;
	stroke: #fff;
	stroke-linejoin: round;
	width: 40px;
}

.travelRoute {
	fill: none;
	stroke: #0F0;
	stroke-linejoin: round;
	width: 5px;
}